<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs') %>

    <div class="white-bg">
      <% for(let i=0; i< posts.length; i++){%>
      <div class="list-box">
        <h4>
          <a href="detail/<%= posts[i]._id %>"><%= posts[i].title %></a>
          <span class="delete" data-id="<%= posts[i]._id %>">π—‘οΈ</span>
        </h4>
        <p><%= posts[i].content %></p>
      </div>
      <%} %>
    </div>
    <script>
      let num = document.querySelectorAll(".delete").length;
      for (let i = 0; i < num; i++) {
        document.querySelectorAll(".delete")[i].addEventListener("click", (e) => {
          fetch(`/delete?docId=${e.target.dataset.id}`, {
            method: "DELETE",
          })
            .then((r) => r.text())
            .then((r) => {
              console.log(r);
              e.target.parentElement.parentElement.style.display = "none";
            });
        });
      }

      fetch("/URL")
        .then((r) => {
          if (r.status == 200) {
            return r.json();
          } else {
            //μ„λ²„κ°€ μ—λ¬μ½”λ“ μ „μ†΅μ‹ μ‹¤ν–‰ν•  μ½”λ“
            alert("μ—λ¬λ‚¨");
          }
        })
        .then((result) => {
          //μ„±κ³µμ‹ μ‹¤ν–‰ν•  μ½”λ“
        })
        .catch((err) => {
          //μΈν„°λ„· λ¬Έμ  λ“±μΌλ΅ μ‹¤ν¨μ‹ μ‹¤ν–‰ν•  μ½”λ“
          console.log(err);
        });
    </script>
    <!-- bootstrap -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
